			<div class="accountoverview">
				<!-- Customer information table. -->
				<?php
					if (isset($_GET['edit']))
					{
						echo '<form id="editDetails" action="submitChanges.php">';
					}
					else
					{
						echo '<form>';
					}
				?>
				<div id="tableBox">
					<table id="customerInformationTable">
						<?php
							if (isset($_GET['edit']))
							{
								require('editDetails.html');
							}
							else
							{
								include('personalDetails.html');
							}
						?>
					</table>
				</div>
				<?php
					// If edit is pressed.
					if (isset($_GET['edit']))
					{
						echo '<div id="editBtnBox">';
						echo '<input id="saveBtn" class="btn btn-primary-derived" type="submit" form="editDetails" name="save" value="Save">';
						echo '<input id="cancelBtn" class="btn btn-primary-derived" type="button" id="cancelBtn" onclick="overview()" value="Cancel">';
						echo '</div>';
					}
					else
					{	
						echo '<div id="editBbtBox">';
						// echo '<input id="editBtn" class="btn btn-primary-derived" type="submit" name="edit" value="edit">';
						echo '<a id="editBtn" href="?page=accountOverview&edit=true" class="btn btn-primary-derived">Edit</a>';
						echo '</div>';
					}
				?>
				</form>
            </div>
			<!-- To be filled with tickets owned by customer and available for purchase. -->
			<div id="ticketBox">
				<table class="accountOverviewTables table-responsive">
					<tbody>
						<tr>
							<th>Event Name</th>
							<th>Start Date</th>
							<th>End Date</th>
							<th>Price</th>
							<th>Ticket ID</th>
							<th>Action</th>
							<th>Camping Spot</th>
						</tr>
					<?php
						$counter = 0;
						foreach ($ticketRows as $ticketRow)
						{
							$counter += 1;
							
							echo '<tr>';
								// print every element in row into a td element.
								echo '<td class="eventTds">'. $ticketRow[1] .'</td>';
								echo '<td class="eventTds">'. $ticketRow[2] .'</td>';
								echo '<td class="eventTds">'. $ticketRow[3] .'</td>';
								echo '<td class="eventTds"> € '. $ticketRow[4] .'</td>';
								
								// If there exists a value for ticket id.
								if (isset($ticketRow['idTicket']))
								{
									$aText = 'Event Account';
									
									// New query string ticketid and value.
									$script = "loggedin.php?page=ticketId&value=". $ticketRow['idTicket'];
									echo '<td class="eventTds">'. $ticketRow['idTicket'] .'</td>';
									
									// If there exists a value for camping spot id, display the camping's name in the table.
									if (isset($ticketRow['idCampingspot']))
									{
										$campingSpot = $ticketRow['Name'];
									}
									else // If there does not exits one, create an anchor tag that redirects to a new php page where the customer can reserve a camping spot for that ticket.
									{
										$campingSpot = '<a class="btn btn-primary btn-xs" href="loggedin.php?page=reservecampingspot&value='. $ticketRow['idTicket'] .'">Reserve Campingspot</a>';
									}
								}
								else
								{ // If there does not exists a value for ticket id, adjust the table data's text to Purchase and provide a purchase option for that event.
									$aText = 'Purchase';
									$script = "loggedin.php?page=purchaseticket&value=". $ticketRow['idEvent'];
									echo '<td class="eventTds">None</td>';
									$campingSpot = 'Not Available';
								}
								echo '<td class="eventTds"><a class="btn btn-primary btn-xs" href="'. $script .'">'. $aText .'</a></td>';
								echo '<td>'. $campingSpot .'</td>';
								
							echo '</tr>';
							
							if ($counter == 8) // Limit the number of rows to equal that over the person's information table just to make sure we don't exceed any visuals.
							{
								break;
							}
						}
					?>
					</tbody>
				</table>
			</div>
		<script>
		// Redirect back to overview on pressing cancel.
		function overview() {
			window.location.href = "loggedin.php?page=accountOverview";
		}
		</script>