.panel-body {
	margin-top: 25px;
	overflow: hidden;
}

th {
	padding: 0px 3px;
	border-bottom: 1px solid;
}

td {
	padding: 0px 10px;
}

tr {
	height: 30px;
}

/* .eventTds { */
	/* border-right: 1px solid; */
/* } */

.accountoverview {
	float: left;
	width: 27%;
	overflow: hidden;
}

#ticketBox {
	overflow: hidden;
	/* float: left; */
	margin: auto;
	text-align: center;
}

#ticketQr{
	
    float: right;
    margin-top: 85px;
    
    margin-right: 75px;
}

input {
	color: black;
}

#country {
	color: black;
	width: 150px;
}

#customerInformationTable {
	color: #fff;
	/* font-size: small; */
}

#editBtnBox {
	text-align: center;
}

.accountOverviewTables {
	opacity: 0.6;
	color: #fff;
	text-align: center;
}

#tableBox {
	overflow: hidden;
}

#saveBtn {
	width: 50%;
}

#cancelBtn {
	width: 50%;
}

#editBtn {
	width: 100%;
}