<div id="inputWrapper">
	<input type="number" id="amountInput" name="amount" placeholder="amount" min="0" step=".01" required/>
</div>
<div class="submitbutton" onclick="onDeposit()">
	<button type="button" class="btn btn-primary submitbutton" id="myBtn" name="submit">Deposit</button>
</div>

<script>
	function onDeposit(){
		document.getElementById("totalAmount").innerHTML = '€ ' + document.getElementById("amountInput").value;
	}
</script>