#commentBody {
	max-width: 1050px;
	margin: 100px 0px;
}

#comments {
	overflow: hidden;
	width: 650px;
	margin: auto;
	background: #9c2360;
	color: #fff;
}

.navbar-custom .navbar-nav > li > a {
	color: black;
}

.mainRow {
	margin: 5px 30px;
}

.col {
	float: left;
	margin-left: 5px;
}

#profilePic {
	width: 100px;
}

.posterRow {
	border-top: solid 1px;
	border-bottom: solid 1px;
}

.contentRow {
	padding-top: 5px;
	display: flex;
}

#breaker {
	border-top: solid 1px;
	margin: 0px 15px 250px 15px;
}

#commentContent {
	color: black;
	width: 95%;
	margin: 5px 15px;
}

#site-nav {
	background: white;
}

#commentButton {
	color: black;
	margin-left: 15px;
	margin-bottom: 15px;
}

#previousPage {
	float: left;
	border: solid white 1px;
	background: #9c2360;
}

#nextPage {
	float: right;	
	border: solid white 1px;
	background: #9c2360;
}

#buttons {
	overflow: hidden;
	margin: 10px 15px 5px 15px;
}