	<tbody>
		<tr>
			<td>Firstname:</td>
			<?php
			echo '
				<td><input type="text" name="fName" value="'. $_SESSION['customerInfo']['First_Name'] .'"></td>
			</tr>
			<tr>
				<td>Lastname:</td>
				<td><input type="text" name="lName" value="'. $_SESSION['customerInfo']['Last_Name'] .'"></td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><input type="email" name="email" value="'. $_SESSION['customerInfo']['Email'] .'"></td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td><input type="text" name="phone" value="'. $_SESSION['customerInfo']['Telephone_Number'] .'"></td>
			</tr>
			<tr>
				<td>Street:</td>
				<td><input type="text" name="street" value="'. $_SESSION['customerInfo']['Street_Name'] .'"></td>
			</tr>
			<tr>
				<td>House #:</td>
				<td><input type="text" name="houseNr" value="'. $_SESSION['customerInfo']['House_Number'] .'"></td>
			</tr>
			<tr>
				<td>Postal code:</td>
				<td><input type="text" name="postalCode" value="'. $_SESSION['customerInfo']['Postal_Code'] .'"></td>
			</tr>
			<tr>
				<td>City:</td>
				<td><input type="text" name="city" value="'. $_SESSION['customerInfo']['City'] .'"></td>
			</tr>
			<tr>
				<td>Country:</td>
				<td id="country">'; require('countries.html'); echo '</td>
			</tr>
		</tbody>';
		?>