<div>
	<div id="friendZBoxes">
		<?php
			// Obtain readable ticket information again.
			$eventId = $_GET['value'];
			$ticketInformation = ObtainEventReadable($eventId)[0];
			
			//print_r($_SESSION);

			$_POST['eventId'] = $eventId;
			// First iteration show person's own first name and last name.
			echo '
				<div id="purchaseInformation">
					<div id="ticketInformation">
						<div id="buyerName">
							'. $_SESSION['customerInfo']['First_Name'] . ' ' . $_SESSION['customerInfo']['Last_Name'] .'
						</div>
						<div id="eventName">
							'. $ticketInformation['Name'] .'
						</div>
						<div id="ticketPrice">
							Ticket price: € '. $ticketInformation['Price'] .' 
						</div>
						<div id="numberOfTickets">
							'. $_SESSION['purchase'][$eventId]['numberOfTickets'] .' tickets
						</div>
						<div id="totalPrice">
							Total price: € '. $_SESSION['purchase'][$eventId]['numberOfTickets'] * $ticketInformation['Price'] .'
						</div>
					</div>
					<div id="campingSpots">';
					
					// Some logic to deal with the check or no check for camping spot reservation.
					if ($_SESSION['purchase'][$eventId]['campingSpot'])
					{
						echo '
								<div>
									You have selected to reserve a camping spot.
								</div>
								<div>
									After the ticket purchase is succesful you will
									be redirected to the camping spot reservation page.
								</div>
							';
					}
					else
					{
						echo '
								<div>
									No camping spot reservation.
								</div>
								<div>
									You can always choose to reserve a camping spot at a later time.
								</div>
							';
					}
					
					echo '</div>
					<div id="redirectInformation">
						
					</div>
				</div>';
			
			if ($_SESSION['purchase'][$eventId]['numberOfTickets'] > 1)
			{
			
				echo '
					<div id="friendInputInformation">
						<em> 
							Please fill in your friend\'s names and e-mail addresses in the input fields below.<br>
							After purchase they will each be send an e-mail with information and their ticket.
						</em>
					</div>
				';
				// All other iterations up to and including number of tickets will be boxes that
				// allow the insertion of text in the form of first name, last name, email address.
				for ($i = 1; $i <= ($_SESSION['purchase'][$eventId]['numberOfTickets'] - 1); $i++)
				{
					echo '
					<div class="friendZ">
						<fieldset>
							<legend class="friendZLegend">Friend '. $i .'</legend>
							<div class="friendInformation">
									<div class="presonNameInput">
										<div class="firstNameInput">
											First Name:<br>
											<input type="text" name="fName'. $i .'" required><br>
										</div>
										<div class="lastNameInput">
											Last Name:<br>
											<input type="text" name="lName'. $i .'" required><br>
										</div>
									</div>
									<div class="emailInput">
										Email Address:<br>
										<input type="email" name="email'. $i .'" required><br>
									</div>
								</div>
						</fieldset>
					</div>';
				}
			}
			echo '<input type="hidden" name="eventId" value='. $eventId .'>';
		?>
	</div>
	<div class="submitbutton">
		<button type="button" class="btn btn-primary submitbutton" id="myBtn" name="submit">Purchase Ticket</button>
	</div>
</div>

<link rel="stylesheet" href="purchaseDetails.css">