#experienceBody {
	max-width: 1050px;
	margin-top: 100px;
}

.navbar-custom .navbar-nav > li > a {
	color: black;
}

#events {
	width: 500px;
	margin: auto;
}

.clickableRow {
	display: block;
	overflow: hidden;
}

.row {
	display: flex;
	margin: 5px 0px;
}

.col {
	margin: 0px 5px;
}

.row .col img{
	width: 200px;
}