.logo{
    margin-top:150px;

}


.loader{
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid rgb(154,34,96); /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}