<?php
	if ($_POST)
	{
		if ($_POST['amount'] > 0)
		{
			// Update balance for this ticket id.
			updateBalance($_GET['value'], $_POST['amount']);
			header('Location: ?page=ticketId&value='. $_GET['value'] .'&next=0'); // Redirect to same page to avoid F5 re-entering the same amount over and over.
		}
	}
?>

<div class="categories">
	<div class="category">
		<div>Account balance</div>
		<?php 
			// Obtain balance for this ticketId.
			$allTicketInfo = ObtainTicketInformation($_SESSION['customerInfo']['idCustomer'], $_GET['value']);
			echo "<div> € ". $allTicketInfo['Balance'] ."</div>"; 
		?>
	</div>
</div>
<?php require('modalBox.html'); // The credit card form is required otherwise payment simulation isn't possible. ?>
<div class="transactionOverview">
	<?php
		// Basically represents the first page (or lower than page 1 but we show data
		// from the first set of transactions.
		if (!isset($_GET['next']) || $_GET['next'] == null || $_GET['next'] < 1)
		{
			$transactions = ObtainTicketTransactionHistory($_GET['value']);
		}
		// Otherwise the next value is set, as we take rows in batches of 10, we multiply it.
		else
		{
			$offset = (int)$_GET['next'] * 10;
			$transactions = ObtainTicketTransactionHistoryNext($_GET['value'], $offset);
		}
		
		// If we got back a result set of rows (no matter how many <= 10).
		if ($transactions != null)
		{
			// Populate our table with the obtained values.
			echo '<table class="accountOverviewTables table table-fixed table-responsive">';
				echo '<tbody>';
					echo 
					'<tr>
						<th>Date & Time</th>
						<th>Amount</th>
					</tr>';

					foreach ($transactions as $transactionRow)
					{	
						echo '<tr>';
							echo '<td>'. $transactionRow['DateTime'] .'</td>';
							echo '<td>'. '€ ' .$transactionRow['Transaction_Total'] .'</td>';
						echo '</tr>';
					}
					
				echo '</tbody>';
			echo '</table>';
			
			// This should always be 10 at most (thus actually == 10) would represent it better.
			if (count($transactions) >= 10)
			{
				// If this was the first page, we only show a next button (indicating there might be more transactions).
				// this will fake once, as a user could have exactly 10 transactions, then the next page would show 
				// No Transactions with a back button.
				if (!isset($_GET['next']) || $_GET['next'] == null || $_GET['next'] < 1)
				{
					echo '<div style="float: right;">
							<a class="btn btn-primary btn-xs" href=loggedin.php?page=ticketId&value='. $_GET['value'] .'&next='. 1 .'>
								>
							</a>
						</div>';
				}
				else
				{
					// Otherwise we are at a page in between the first and positive infinity.
					// Get the page's value, calculate page offset values.
					$transactionNumber = (int)$_GET['next'];
					$next = $transactionNumber + 1;
					$back = $transactionNumber - 1;
					
					// Create two buttons, back and next based on calculated values.
					echo '<div style="float: left;">
							<a class="btn btn-primary btn-xs" href=loggedin.php?page=ticketId&value='. $_GET['value'] .'&next='. $back .'>
								<
							</a>
						</div>';
						
					echo '<div style="float: right;">
							<a class="btn btn-primary btn-xs" href=loggedin.php?page=ticketId&value='. $_GET['value'] .'&next='. $next .'>
								>
							</a>
						</div>';
				}
			}
			else
			{
				
				// Otherwise the number of transactions in our result set was less than 10 transactions
				if (isset($_GET['next']))
				{
					if ((int)$_GET['next'] > 0)
					{
						// or ndicating there are no more transactions to obtain after this.
						$transactionNumber = (int)$_GET['next'];
						$back = $transactionNumber - 1;
						
						// So we create only a back button with corresponding values.
						echo '<div style="float: left;">
								<a class="btn btn-primary btn-xs" href=loggedin.php?page=ticketId&value='. $_GET['value'] .'&next='. $back .'>
									<
								</a>
							</div>';
					}
				}
			}
		}
		else
		{
			// Otherwise we reached the end of our transactions (either exactly) or there were none.
			echo '<div>No Transaction History</div>';
			
			// In case we reached exactly the end of our transactions, provide the user with a back button.
			if (isset($_GET['next']) && ($_GET['next'] != null) && ($_GET['next'] > 0))
			{
				$transactionNumber = (int)$_GET['next'];
				$back = $transactionNumber - 1;
				
				echo '<div style="float: left;">
					<a class="btn btn-primary btn-xs" href=loggedin.php?page=ticketId&value='. $_GET['value'] .'&next='. $back .'>
						<
					</a>
				</div>';
			}
		}
	?>
</div>
<div>
	<?php 
		echo 
			'<table class="accountOverviewTables table table-fixed table-responsive">
				<tbody>					
					<tr>
						<th>Product Name</th>
						<th># of products</th>
						<th>Total value</th>
					</tr>
				</tbody>
			</table>';
	?>
</div>