<tbody>
	<tr>
		<td>Firstname:</td>
		<td><?php echo $_SESSION['customerInfo']['First_Name']; ?></td>
	</tr>
	<tr>
		<td>Lastname:</td>
		<td><?php echo $_SESSION['customerInfo']['Last_Name']; ?></td>
	</tr>
	<tr>
		<td>Email:</td>
		<td><?php echo $_SESSION['customerInfo']['Email']; ?></td>
	</tr>
	<tr>
		<td>Phone:</td>
		<td><?php echo $_SESSION['customerInfo']['Telephone_Number']; ?></td>
	</tr>
	<tr>
		<td>Street:</td>
		<td><?php echo $_SESSION['customerInfo']['Street_Name']; ?></td>
	</tr>
	<tr>
		<td>House #:</td>
		<td><?php echo $_SESSION['customerInfo']['House_Number']; ?></td>
	</tr>
	<tr>
		<td>Postal code:</td>
		<td><?php echo $_SESSION['customerInfo']['Postal_Code']; ?></td>
	</tr>
	<tr>
		<td>City:</td>
		<td><?php echo $_SESSION['customerInfo']['City']; ?></td>
	</tr>
	<tr>
		<td>Country:</td>
		<td><?php echo $_SESSION['customerInfo']['Country']; ?></td>
	</tr>
</tbody>