<tbody>
	<tr>
		<td>Firstname:</td>
		<td><?php echo $_SESSION['customerInfo']['First_Name']; ?></td>
	</tr>
	<tr>
	<p>
		<td>Lastname:</td>
		<td><?php echo  $_SESSION['customerInfo']['Last_Name']; ?></td></b>
	</p>
	</tr>
	<tr>
		<td>Price:</td>
		<td></td>
	</tr>
	<tr>
		<td>Camping location:</td>
		<td></td>
	</tr>
	<tr>
		<td>Event:</td>
		<td></td>
	</tr>
	
	
</tbody>