#friendOverview {
	overflow: hidden;
	margin: 20px 0px;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

#return {
	overflow: hidden;
	margin-top: 5px;
}

h1 {
	opacity: 0.7;
}

h2 {
	opacity: 0.7;
}

h3 {
	opacity: 0.7;
}

.panel-body {
	text-align: center;
	padding: 0px 15px 15px 15px;
}