#purchaseInformation {
	overflow: hidden;
}

#ticketInformation {
	float: left;
	margin: 0px 5px;
}

#campingSpots {
	float: left;
	overflow: hidden;
	margin-left: 20px;
}

#friendInputInformation {
	overflow: hidden;
	margin: 20px 0px;
}

#totalPrice {
	font-size: large;
}

.amountbox {
	width: 100%;
}