<?php
	$ticketInformation = ObtainEventReadable($_GET['value'])[0];
?>

<div id="eventContent">
    <!-- All the child divs should float left -->
	<div id="eventPicture">
		<img src="assets/images/backgrounds/test.jpg" alt="TomorrowLand event picture">
	</div>
	<div id="eventDate">
		<div id="month">
		<?php echo $ticketInformation['Month'] ?>
		</div>
		<div id="day">
		<?php echo $ticketInformation['Day_Num'] ?>
		</div>
		<div id="year">
		<?php echo $ticketInformation['Year'] ?>
		</div>
	</div>
	
	<div id="eventInformation">
		<div id="dayTime">
		<?php echo $ticketInformation['Day'] ?>
		</div>
		<div id="eventName">
		<?php echo $ticketInformation['Name'] ?>
		</div>
	</div>
</div>
<!-- All html below this point has to be part of the form. -->
<div id="ticketForm">
	<?php echo '<form action="loggedin.php?page=purchaseticket&value='. $ticketInformation['idEvent'] .'" method="post">'; ?>
		<div id="eventTickets">
			<div id="ticketInformation">
				<div id="ticketName">
					Standard Ticket
				</div>
				<div id="ticketPrice">
					<?php echo '€ '. $ticketInformation['Price']; ?>
				</div>
			</div>
			<div id="selection">
				<select name="numberOfTickets">
					<option value=1 selected>1</option>
					<option value=2>2</option>
					<option value=3>3</option>
					<option value=4>4</option>
					<option value=5>5</option>
					<option value=6>6</option>
				</select> 
			</div>
		</div>
		<div id="campingReservation">
			<input id="campingCheck" type="checkbox" name="campingspot" value=1>
				<div id="campingText">I would like to make a camping reservation.</div>
		</div>
		<div id="continue">
			<button class="btn btn-primary submitbutton" type="submit" method="post">Continue</button>
		</div>
	</form>
</div>