.panel-body {
    color: #fff;
	display: ;
}

#eventContent {
	margin: auto;
	overflow: hidden;
	display: flex;
	align-items: center;
}

#ticketForm {
	margin: auto;
}

#eventPicture {
	max-height: 115px;
	float: left;
}

#eventDate {
	margin: 0px 10px;
	text-align: center;
	float: left;
}

#month {
	
}

#day {
	font-size: xx-large;
}

#eventInformation {
	overflow: hidden;
}

#selection {
	color: black;
}

#continue {
	color: black;
	text-align: center;
}

#campingReservation {
	overflow: hidden;
}

#campingCheck {
	float: left;
}

#campingText {
	float: left;
	overflow: hidden;
	margin-left: 5px;
}

.friendZ {
	float: left;
	margin: 0px 5px;
	width: 19%;
}

.friendZ input {
	width: 100%
}

.friendZLegend {
	color: #fff;
	text-align: center;
}

#friendZBoxes {
	overflow: hidden;
	margin-bottom: 5px;
}

.submitbutton {
	overflow: hidden;
	margin-left: 5px;
	text-align: center;
}