<?php
	// Thank person and confirm that his/her purchase was succesful.
	echo '
		<div style="width: 100%;">
			<div>
				<h1>Purchase successful</h1>
			</div>
			<div>
				<h2>Thank you for your purchase</h2>
			</div>
			<div>
				<h3>We hope you and your friends will have a wonderful time at TomorrowLand!</h3>
			</div>';
			
			if (isset($_SESSION['purchase']['friends']))
			{
				$eventId = $_SESSION['purchase']['friends']['eventId'];
				
				echo '<b><em>Please carefully check if all information below is correct, otherwise contact us.</em></b>
				<div id="friendOverview">';
				
				for ($i = 1; $i <= ($_SESSION['purchase'][$eventId]['numberOfTickets'] - 1); $i++)
				{
					$fname = 'fName'. $i;
					$lname = 'lName'. $i;
					$email = 'email'. $i;
					
					$fullName =  $_SESSION['purchase']['friends'][$fname];
					$fullName .= ' ';
					$fullName .= $_SESSION['purchase']['friends'][$lname];
					
					echo '
						<div class="friendZ">
							<div class="friendzNumber">
								Friend '. $i .'
							</div>
							<div class="friendZName">
								Name: <b>'. $fullName .'</b>
							</div>
							<div class="friendZEmail">
								E-mail: <b>'. $_SESSION['purchase']['friends'][$email] .'</b>
							</div>
						</div>
					';
				}
			}	
	echo '</div>
			<div id="return">
				<p> 
					Please click here to return to your account overview: <a class="btn btn-primary btn-xs" href="loggedin.php?page=accountOverview">Account overview</a>
				</p>
			</div>
		</div>
	';
	// Clear session information for purchase.
	unset($_SESSION['purchase']);
	unset($_SESSION[$eventId]);
?>

<link rel="stylesheet" href="purchaseConfirmation.css">