* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background: #efefef;
    overflow: hidden;
}

.panel{
    width:1050px;
    height:550px;
    background: #9c2360;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    overflow:hidden;
}

.btn-primary {
	background-color: #9c2360;
	border-color: #fff;
}

.btn-primary:hover {
	background-color: #531333;
	border-color: #bfbfbf;
	color: #bfbfbf;
}

.btn-primary-derived {
	background-color: #fff;
	border-color: #9c2360;
	color: #9c2360;
	/* padding: 0px; */
}

.btn-primary-derived:hover {
	background-color: #bfbfbf;
	border-color: #531333;
	color: #531333;
}

.panel-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 60px;
    background: #fff;
}
.title{
    color: black;
    font-weight: 500;
}

.option-views span {
    font-size: 14px;
    font-weight: 300;
    color: black;
    padding: 6px 14px;
    border: 2px solid transparent;
    text-decoration-line: none;
}
.option-views span:hover
{
    border: 2px solid #9c2360;
    cursor: pointer;
    border-radius: 15px;

}
a:link{
    text-decoration: none;
}

.panel-body {
    display: flex;
    /* height: 340px; */
	padding-left: 30px;
}

.categories {
	overflow: hidden;
}

.category {
    /* display: flex; */
    /* flex-direction: column; */
}

#ticketQr img{
	min-width: 200px;
	max-width: 300px;
}

.table {
	margin-bottom: 0px;
}

.category span:first-child {
    font-weight: 300;
    font-size: 14px;
    opacity: 0.6;
    color: #fff;
    margin-bottom: 6px;
}

.category span:last-child {
    font-size: 32px;
    font-weight: 300;
    color: #fff;
}

.transationhistory{
    margin-top:20px;
    width:345px;
    height:420px;
    background: white;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    overflow:hidden;
}

.accountoverview{
    opacity: 0.6;
    color: #fff;
}

.obtaineddata{
    margin-top: 40px;
    font-weight: 300;
    font-size: 16px;
    opacity: 0.6;
    color: #fff;
    width: 500px;
    padding-left: 120px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#inputWrapper {
	float: left;
}

.submitbutton {
}

.categories {
	margin-right: 10px;
	color: #fff;
	opacity: 0.6;
}

.transactionOverview {
	margin: 0px 10px;
}